* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, ul, ol, li {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #E5E5E5;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* removes the angular's brackets while loading */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.container {
    padding: 20px;
}

.page-title hr {
    border-bottom: none;
    border-color: rgba(0, 0, 0, .2);
}