header {
    height: 90px;
    background-color: rgb(100, 6, 36);
    width: 100%;
    color: white;
    border-bottom: 1px solid rgba(100, 6, 36, .9);
}

header .logo {
    height: 70px;
    margin-top: 10px;
}

header .header-container {
    display: flex;
    height: 90px;
    overflow: hidden;
    align-items: center;
}

header .header-container a:not(.logo-div) {
    line-height: 90px;
    padding: 0 15px;
    font-size: 18px;
    transition: .3s;
}

header .header-container a:not(.logo-div):hover {
    background-color: rgba(138, 72, 93, .5);
}